@font-face
	font-family: 'MuseoSansCyrl-700'
	src: url('../font/MuseoSans/MuseoSansCyrl-700.eot')
	src: url('../font/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype')
	src: url('../font/MuseoSans/MuseoSansCyrl-700.woff') format('woff')
	src: url('../font/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'MuseoSansCyrl-300'
	src: url('../font/MuseoSans/MuseoSansCyrl-300.eot')
	src: url('../font/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype')
	src: url('../font/MuseoSans/MuseoSansCyrl-300.woff') format('woff')
	src: url('../font/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype')
	font-weight: normal
	font-style: normal
	