@media (max-width: 1200px)
	.container
		width: 760px

	
@media (max-width: 768px)
	.container
		max-width: 570px
		width: 90%
	.navbar
		&__address
			font-size: 10px
		&__phone
			font-size: 15px	
		&__button
			font-size: 10px
			padding: 15px 26px
		&__logo
			width: 90px

	
@media (max-width: 567px)
	.container
		max-width: 310px
	.navbar
		&__contacts
			display: none
@media (max-width: 320px)
	.container
		max-width: 277px
	.navbar
		&__button
			color: 13px
	
